<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frozendevs.cache.cleaner"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher_cache_cleaner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application">

        <activity
            android:name=".activity.CleanerActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.CleanerActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".activity.CleanerActivity"
            android:theme="@style/Theme.SettingsActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CleanerActivity" />

            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>

        </activity>

        <receiver android:name=".model.BroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".model.CleanerService"
            android:exported="false" />

    </application>

</manifest>
